.container {
    margin: 0;
    background: #f3f5fc;
    width: 100%;
    height: 100vh;
    display: flex;
}

@media screen and (max-width: 375px) {
    .container {
        flex-direction: column;
        height: 100%;
    }
}

@media screen and (min-width: 376px) and (max-width: 768px) {
    .container {
        flex-direction: column;
        height: 100%;
    }
}

